<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>🍻 BudLight</string>
		<key>grade</key>
		<string>2</string>
		<key>country</key>
		<string>USA</string>
		<key>color</key>
		<string>brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 BudLight</string>
		<key>grade</key>
		<string>2</string>
		<key>country</key>
		<string>USA</string>
		<key>color</key>
		<string>brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 BudLight</string>
		<key>grade</key>
		<string>2</string>
		<key>country</key>
		<string>USA</string>
		<key>color</key>
		<string>brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 BudLight</string>
		<key>grade</key>
		<string>2</string>
		<key>country</key>
		<string>USA</string>
		<key>color</key>
		<string>brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 BudLight</string>
		<key>grade</key>
		<string>2</string>
		<key>country</key>
		<string>USA</string>
		<key>color</key>
		<string>brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 BudLight</string>
		<key>grade</key>
		<string>2</string>
		<key>country</key>
		<string>USA</string>
		<key>color</key>
		<string>brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 BudLight</string>
		<key>grade</key>
		<string>2</string>
		<key>country</key>
		<string>USA</string>
		<key>color</key>
		<string>brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 BudLight</string>
		<key>grade</key>
		<string>2</string>
		<key>country</key>
		<string>USA</string>
		<key>color</key>
		<string>brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 BudLight</string>
		<key>grade</key>
		<string>2</string>
		<key>country</key>
		<string>USA</string>
		<key>color</key>
		<string>brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 BudLight</string>
		<key>grade</key>
		<string>2</string>
		<key>country</key>
		<string>USA</string>
		<key>color</key>
		<string>brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>🍻 Pilsener 🍻</string>
		<key>grade</key>
		<string>3</string>
		<key>country</key>
		<string>Ecuador</string>
		<key>color</key>
		<string>dark brown</string>
	</dict>
</array>
</plist>
